<!DOCTYPE html>
<html lang="tr">

<!-- Mirrored from www.incisozluk.com.tr/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Jun 2021 07:43:02 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="robots,index,follow">
    <title>Form Hayatı</title>
    <meta name="description" content="inci sözlük">

    <link rel="shortcut icon" href="/Anasayfa_Assest/rs/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Anasayfa_Assest/rs/img/favicon.png">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Anasayfa_Assest/rs/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Anasayfa_Assest/rs/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/Anasayfa_Assest/rs/img/favicon.png">

    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="/Anasayfa_Assest/rs/css/bootstrap.3.2.0.min.css" rel="stylesheet">
    <link href="/Anasayfa_Assest/rs/css/default9514.css?v=0.0.4" rel="stylesheet">
    <link href="/Anasayfa_Assest/rs/css/ticaret241d.css?v=0.0.1" rel="stylesheet">
    <link href="/Anasayfa_Assest/rs/css/style099d.css?v=1.4.8" rel="stylesheet">
    <link href="/Anasayfa_Assest/rs/css/responsivec36f.css?v=1.1.6" rel="stylesheet">
    <link href="/Anasayfa_Assest/rs/font/icomoon/style2c70.css?v=1.0.3" rel="stylesheet">
    <link rel="manifest" href="/Anasayfa_Assest/manifest.json">
    <script>
        function more_replay(e) {
            var parent_id = $(e).data('parent');
            var el = $('.li_' + parent_id);
            $('.childe_of_' + parent_id).each(function (index) {
                $(this).removeClass('gizle_box');
                $(this).removeClass('gizle_box_list');

                $(this).next('.replay').removeClass('gizle_box_list').removeClass('gizle_box');
            });


            $(e).attr('onclick', 'more_replay_close(this)');
            $(e).find('.mrt').text('ufalt');
            $(e).find('.sayi').hide();

            console.log(el);
        }

        function more_replay_close(e) {
            var parent_id = $(e).data('parent');
            var el = $('.li_' + parent_id)
            el.find('.childe_of_' + parent_id).each(function (index) {
                console.log(index);
                if (index > 1) {
                    $(this).addClass('gizle_box');
                    $(this).next('.replay').addClass('gizle_box_list');
                    $('.cevapla_trigger_wrap').removeClass('gizle_box');
                }

            });
            $(e).attr('onclick', 'more_replay(this)');
            $(e).find('.mrt').text('diğerleri');
            $(e).find('.sayi').show();
            console.log(el);
        }
    </script>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--<script async='async' src='//www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>

    <script>
        googletag.cmd.push(function() {
            googletag.defineSlot('/1070073/inci_sozluk_300_250', [300, 250], 'div-gpt-ad-1487081562187-0').addService(googletag.pubads());
            /*googletag.defineSlot('/1070073/inci_sozluk_970x250', [970, 250], 'div-gpt-ad-1487081562187-1').addService(googletag.pubads());*/
             googletag.defineSlot('/1070073/inci_sozluk_970x250', [[970, 250], [728, 90], [970, 90]], 'div-gpt-ad-1512721989305-0').addService(googletag.pubads());                /*googletag.defineSlot('/1070073/inci_sozluk_970x250', [[728, 90], [970, 90], [970, 250]], 'div-gpt-ad-1506946834402-0').addService(googletag.pubads());*/
            googletag.defineSlot('/1070073/Inci_Display_Birincil_300x250', [300, 250], 'div-gpt-ad-1487081562187-2').addService(googletag.pubads());
                            googletag.pubads().enableSingleRequest();
            /*googletag.pubads().collapseEmptyDivs();*/
            googletag.enableServices();
        });
    </script>-->
    <!-- <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>

    <script>
        googletag.cmd.push(function() {
            googletag.defineSlot('/1070073/inci_sozluk_970x250', [[970, 250], [970, 90], [728, 90]], 'div-gpt-ad-1512722518236-0').addService(googletag.pubads());
            googletag.defineSlot('/1070073/Inci_Display_Birincil_300x250', [300, 250], 'div-gpt-ad-1512723234578-0').addService(googletag.pubads());
            googletag.defineSlot('/1070073/Inci_Mobil_300x100', [[320, 100], [320, 50], [300, 50], [300, 100]], 'div-gpt-ad-1520411474063-0').addService(googletag.pubads());
            googletag.defineSlot('\/1070073\/Inci_Mobil_320x100_Entry_İçi', [[ 300.0 ,  100.0 ], [ 300.0 ,  50.0 ], [ 320.0 ,  100.0 ], [ 320.0 ,  50.0 ]], 'div-gpt-ad-1528448319365-0').addService(googletag.pubads());

            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>
    -->

    <script type="text/javascript">
        window._taboola = window._taboola || [];
        _taboola.push({ homepage: 'auto' });
        !function (e, f, u, i) {
            if (!document.getElementById(i)) {
                e.async = 1;
                e.src = u;
                e.id = i;
                f.parentNode.insertBefore(e, f);
            }
        }(document.createElement('script'),
            document.getElementsByTagName('script')[0],
            '/Anasayfa_Assest/cdn.taboola.com/libtrc/incisozluk/loader.js',
            'tb_loader_script');
        if (window.performance && typeof window.performance.mark == 'function') { window.performance.mark('tbl_ic'); }
    </script>
    <script type="text/javascript">
        window._taboola = window._taboola || [];
        _taboola.push({ article: 'auto' });
        !function (e, f, u, i) {
            if (!document.getElementById(i)) {
                e.async = 1;
                e.src = u;
                e.id = i;
                f.parentNode.insertBefore(e, f);
            }
        }(document.createElement('script'),
            document.getElementsByTagName('script')[0],
            '/Anasayfa_Assest/cdn.taboola.com/libtrc/incisozluk/loader.js',
            'tb_loader_script');
        if (window.performance && typeof window.performance.mark == 'function') { window.performance.mark('tbl_ic'); }
    </script>

</head>
<body data-spy="scroll" class=" baslikyok solyok index_body">

    <!-- Admatic interstitial 800x600 Ad Code START -->
    <ins data-publisher="adm-pub-166715399597" data-ad-type="interstitial" class="adm-ads-area" data-ad-network="163354846560" data-ad-sid="209" data-ad-width="800" data-ad-height="600"></ins>
    <script src="/Anasayfa_Assest/cdn2.admatic.com.tr/showad/showad.js" async></script>
    <!-- Admatic interstitial 800x600 Ad Code END -->
    <!-- Admatic interstitial 320x480 Ad Code START -->
    <ins data-publisher="adm-pub-166715399597" data-ad-type="interstitial" class="adm-ads-area" data-ad-network="163354846560" data-ad-sid="206" data-ad-width="320" data-ad-height="480"></ins>
    <script src="/Anasayfa_Assest/cdn2.admatic.com.tr/showad/showad.js" async></script>
    <!-- Admatic interstitial 320x480 Ad Code END -->
    <!-- Admatic Scroll 300x250 Ad Code START -->
    <ins data-publisher="adm-pub-166715399597" data-ad-type="Scroll" class="adm-ads-area" data-ad-network="163354846560" data-ad-sid="304" data-ad-width="300" data-ad-height="250"></ins>
    <script src="/Anasayfa_Assest/cdn2.admatic.com.tr/showad/showad.js" async></script>
    <!-- Admatic Scroll 300x250 Ad Code END -->

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1593495267548555',
                xfbml: true,
                version: 'v2.1'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "/Anasayfa_Assest/connect.facebook.net/tr_TR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="fb-root"></div>
    <div id="categories" class="clearfix" style="background-color:darkred;">
        <div id="category-list" class="category-list-wrapper">

            <center>
                <h7 style="color:white;">Sayfamıza Hoş Geldiniz</h7>
            </center>
        </div>
        <style>
            #category-list {
                position: relative;
                padding: 0 140px 0 0;
            }

                #category-list .nav {
                    height: 25px;
                    overflow: hidden;
                }

            .category-list-sag {
                position: absolute;
                top: 0;
                right: 0;
            }

                .category-list-sag > div {
                    display: inline
                }

                    .category-list-sag > div > a {
                        line-height: 25px
                    }
        </style>
    </div>


    <div class="" id="ustbar_wrap">


        <div class="header navbar" id="ustbar">
            <div class="navbar-inner">
                <a href="/Home/Index" class="visible-md-inline visible-lg-inline">
                    <img class="logo" height="33" src="https://images.squarespace-cdn.com/content/v1/5668cd33dc5cb4d30dfc7790/1547146258315-RG8C0OA3EXIP2U4225UG/ke17ZwdGBToddI8pDm48kDCS9NWuBBzb3g35P34aRwRZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIYvxqG26orBnNg9dHOqYbKQsNDnAkGmvIcYWp2psWtn0KMshLAGzx4R3EDFOm1kBS/g-form-logo.jpg" />
                </a>
                <a href="index.html" class="visible-sm-inline visible-xs-inline">
                    <img class="logo" height="33" src="https://images.squarespace-cdn.com/content/v1/5668cd33dc5cb4d30dfc7790/1547146258315-RG8C0OA3EXIP2U4225UG/ke17ZwdGBToddI8pDm48kDCS9NWuBBzb3g35P34aRwRZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIYvxqG26orBnNg9dHOqYbKQsNDnAkGmvIcYWp2psWtn0KMshLAGzx4R3EDFOm1kBS/g-form-logo.jpg" />
                </a>
                <div id="baslik_ustmenu"></div>

                <form class="navbar-form pull-left arama-form" action="/Home/Search" method="get" id="ustbar-form">
                    <input type="text" class="search-query" placeholder="başlık" name="k">
                    <input type="hidden" name="ce" value="goster" />
                    <button class="btn search-button" type="submit"><i class="ssicon-search"></i></button> 
                </form>

                <button type="button" id="user-menu-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#user-menu" aria-expanded="false" aria-controls="navbar"><i class="ssicon-th-menu"></i></button>
                <div id="user-menu" class="clearfix navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li class="arama-form_mobilwrap">
                            <form class="navbar-form pull-left arama-form" action="/Home/Search" method="get" id="ustbar-form_mobil">
                                <input type="text" class="search-query" placeholder="başlık" name="k">
                                <input type="hidden" name="ce" value="goster" />
                                <button class="btn search-button" type="submit"><i class="ssicon-search"></i></button>
                            </form>
                        </li>



                        @if (Session["KID"] != null)
                        {
                            int i = Convert.ToInt32(Session["KID"].ToString());

            <li><a href="/Home/Kullanici_Detay/@i">@Session["KAD"].ToString()</a></li>
            <li><a href="/Home/Yeni_Konu_Olustur">Yeni Konu Aç</a></li>
                            <li><a href="/Home/Cikis_Yap">Çıkış Yap</a></li>
 }
                        else
                        {
            <li><a href="/Home/Login">giriş yap</a></li>
                            <li><a href="/Home/Register">üye ol</a></li>
}

                    </ul>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer id="main-footer" class="main-footer-index clearfix col-md-12">
        <div id="main-footer-inner">
            <ul class="footer-menu">


                <li><a href="/Home/Contact">iletişim</a></li>
                <li><a href="/Home/About">hakkında</a></li>




            </ul>
     
        </div>
    </footer>
    <!-- Sayfa reklamı -->
    <script src="/Anasayfa_Assest/ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/Anasayfa_Assest/platform.twitter.com/widgets.js"></script>
    <script src="/Anasayfa_Assest/rs/js/jquery.autocomplete.js"></script>
    <script src="/Anasayfa_Assest/rs/js/bootstrap.3.2.0.min.js"></script>

    <script src="/Anasayfa_Assest/rs/js/sspot/sspot3f71.js?v=1.1.1"></script>
    <script src="/Anasayfa_Assest/rs/js/sspot/sspot.entrya9e2.js?v=1934"></script>
    <script src="/Anasayfa_Assest/rs/js/sspot/sspot.baslikf700.js?v=1.0.1"></script>
    <script src="/Anasayfa_Assest/rs/js/sspot/sspot.altsayfae209.js?v=1.0.0"></script>
    <script src="/Anasayfa_Assest/rs/js/sspot/sspot.uyee166.js?v=1.0.4"></script>
    <script src="/Anasayfa_Assest/rs/js/sspot/sspot.modal.js"></script>
    <script src="/Anasayfa_Assest/rs/js/sspot/sspot.facebook.js"></script>

    
    <script type="text/javascript" async src="../www.google-analytics.com/ga.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2633658-1']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_setDomainName', 'none']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>


    <!-- Start Al 
    <noscript><img src="../certify.alexametrics.com/atrka427.gif?account=rI6Nf1a0Or00GT" style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->



    <div id="ss_modal_wrap" onclick="return sspot.modal.kapat();"></div>
    <div id="ss_modal"></div>

    <div id="toTop"><i class="ssicon-keyboard-arrow-up"></i></div>

    <script type="text/javascript">
        window._taboola = window._taboola || [];
        _taboola.push({ flush: true });
    </script>
</body>

<!-- Mirrored from www.incisozluk.com.tr/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Jun 2021 07:45:55 GMT -->
</html>
